<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoApex</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="navbar">
        <h2><a href="/">CryptoApex</a></h2>
        <div class="navbar-buttons">
            {% if session.get('user_id') %}
            <button class="notification-button" onclick="toggleNotificationPanel()">
                <img src="static/images/notification.png" alt="Bildirim">
            </button>
            {% endif %}
            <button>
                <a href="/register">
                    <img src="static/images/profile.png" alt="Profil">
                </a>
            </button>
            <div id="notificationPanel" class="notification-panel">
                <div class="notification-item">Yeni mesajınız var.</div>
                <div class="notification-item">Profilinizi güncellemeyi unutmayın.</div>
                <div class="notification-item">Sistem güncellemesi tamamlandı.</div>
            </div>
        </div>
    </div>

    <div class="crypto-cards">
       
        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Bitcoin.svg" alt="Bitcoin">
            <h3>BITCOIN</h3>
            <p>BTC</p>
            <h2>{{ updated_prices['BTC'] }} USD</h2> 
            <p class="price-change positive">+1.32% (+$896.96)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        
        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/tr/thumb/d/db/Dogecoin-logo.png/252px-Dogecoin-logo.png" alt="Dogecoin">
            <h3>DOGECOIN</h3>
            <p>DOGE</p>
            <h2>{{ updated_prices['DOGE'] }} USD</h2> 
            <p class="price-change positive">+0.25% (+$6.21)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

       
        <div class="crypto-card">
            <img src="https://s3-symbol-logo.tradingview.com/crypto/XTVCLTC--big.svg" alt="Litecoin">
            <h3>LITECOIN</h3>
            <p>LTC</p>
            <h2>{{ updated_prices['LTC'] }} USD</h2> 
            <p class="price-change negative">-0.75% (-$13.29)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/XRP_Ledger_logo.jpg/200px-XRP_Ledger_logo.jpg" alt="XRP-Ledger">
            <h3>XRP Ledger</h3>
            <p>XRP</p>
            <h2>{{ updated_prices['XRP'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Ethereum-icon-purple.svg/200px-Ethereum-icon-purple.svg.png" alt="Ethereum">
            <h3>ETHEREUM</h3>
            <p>ETH</p>
            <h2>{{ updated_prices['ETH'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/Solana_logo.png/252px-Solana_logo.png" alt="Solana">
            <h3>SOLANA</h3>
            <p>SOL</p>
            <h2>{{ updated_prices['SOL'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/BNB%2C_native_cryptocurrency_for_the_Binance_Smart_Chain.svg/252px-BNB%2C_native_cryptocurrency_for_the_Binance_Smart_Chain.svg.png" alt="BNB">
            <h3>BNB</h3>
            <p>BNB</p>
            <h2>{{ updated_prices['BNB'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Cardano_Logo.jpg/124px-Cardano_Logo.jpg" alt="Cardano">
            <h3>Cardano</h3>
            <p>ADA</p>
            <h2>{{ updated_prices['ADA'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/825.png" alt="Tether">
            <h3>Tether</h3>
            <p>USDT</p>
            <h2>{{ updated_prices['USDT'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://dynamic-assets.coinbase.com/49567ec5f7c7a1ccb3ce247297c443b3dd32072ee5b91902abc0f6789654e14fd3b9ed8851580b93b4daf7da13324bc61e143a2d391d9e6d8b98f8d69923e4b4/asset_icons/3c5b36c70a05bad40eee4f711aeefbb1809169a17db047bf91f1ef45828349e5.png" alt="Tron">
            <h3>Tron</h3>
            <p>TRX</p>
            <h2>{{ updated_prices['TRX'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/tr/thumb/5/51/Shiba_coin_logo.png/150px-Shiba_coin_logo.png" alt="Shiba-Inu">
            <h3>Shiba Inu</h3>
            <p>SHIB</p>
            <h2>{{ updated_prices['SHIB'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://asset-metadata-service-production.s3.amazonaws.com/asset_icons/1a1eb3536f72cfd44d94cef5d385f1fe3aff05e81f32fdec87784bbe28bdabcd.png" alt="Pepe">
            <h3>Pepe</h3>
            <p>PEPE</p>
            <h2>{{ updated_prices['PEPE'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Monero-Logo.svg/252px-Monero-Logo.svg.png" alt="Monero">
            <h3>Monero</h3>
            <p>XMR</p>
            <h2>{{ updated_prices['XMR'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Stellar_Symbol.png/220px-Stellar_Symbol.png" alt="Stellar">
            <h3>Stellar</h3>
            <p>XLM</p>
            <h2>{{ updated_prices['XLM'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/03/Avalanche_logo_without_text.png/252px-Avalanche_logo_without_text.png" alt="Avalanche">
            <h3>Avalanche</h3>
            <p>AVAX</p>
            <h2>{{ updated_prices['AVAX'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://s3-symbol-logo.tradingview.com/crypto/XTVCATOM--big.svg" alt="Cosmos">
            <h3>Cosmos</h3>
            <p>ATOM</p>
            <h2>{{ updated_prices['ATOM'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://s3-symbol-logo.tradingview.com/crypto/XTVCLINK--big.svg" alt="Chainlink">
            <h3>Chainlink</h3>
            <p>LINK</p>
            <h2>{{ updated_prices['LINK'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Algorand_mark.svg/252px-Algorand_mark.svg.png" alt="Algorand">
            <h3>Algorand</h3>
            <p>ALGO</p>
            <h2>{{ updated_prices['ALGO'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://static.wikia.nocookie.net/yokaiwatch/images/5/54/Sushi_Coin.png/revision/latest?cb=20180816022104" alt="Sushi-Coin">
            <h3>Sushi Coin</h3>
            <p>SUSHI</p>
            <h2>{{ updated_prices['SUSHI'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="https://s3.coinmarketcap.com/static-gravity/image/002581a1db964eab96687622e88d31fa.png" alt="Ethereum-Classic">
            <h3>Ethereum Classic</h3>
            <p>ETC</p>
            <h2>{{ updated_prices['ETC'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="" alt="Card-21">
            <h3>CARD-4</h3>
            <p>CRD4</p>
            <h2>{{ updated_prices['CRD4'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="" alt="Card-22">
            <h3>CARD-4</h3>
            <p>CRD4</p>
            <h2>{{ updated_prices['CRD4'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="" alt="Card-23">
            <h3>CARD-4</h3>
            <p>CRD4</p>
            <h2>{{ updated_prices['CRD4'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>
        
        <div class="crypto-card">
            <img src="" alt="Card-24">
            <h3>CARD-4</h3>
            <p>CRD4</p>
            <h2>{{ updated_prices['CRD4'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="" alt="Card-25">
            <h3>CARD-4</h3>
            <p>CRD4</p>
            <h2>{{ updated_prices['CRD4'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="" alt="Card-26">
            <h3>CARD-4</h3>
            <p>CRD4</p>
            <h2>{{ updated_prices['CRD4'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="" alt="Card-27">
            <h3>CARD-4</h3>
            <p>CRD4</p>
            <h2>{{ updated_prices['CRD4'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="" alt="Card-28">
            <h3>CARD-4</h3>
            <p>CRD4</p>
            <h2>{{ updated_prices['CRD4'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="" alt="Card-29">
            <h3>CARD-4</h3>
            <p>CRD4</p>
            <h2>{{ updated_prices['CRD4'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>

        <div class="crypto-card">
            <img src="" alt="Card-30">
            <h3>CARD-4</h3>
            <p>CRD4</p>
            <h2>{{ updated_prices['CRD4'] }} USD</h2>
            <p class="price-change negative">-1.00% (-$40)</p>
            <button class="favorite-button" onclick="toggleFavorite(this)">
                <a class="star-icon"></a>
            </button>
            <button class="details-button">More details</button>
        </div>
    </div>

    <script src="static/script.js"></script>
</body>
</html>
