<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoApex</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="navbar">
        <h2><a href="/">CryptoApex</a></h2>
        <div class="navbar-buttons">
            {% if session.get('user_id') %}
            <button class="notification-button" onclick="toggleNotificationPanel()">
                <img src="static/images/notification.png" alt="Bildirim">
            </button>
            {% endif %}
            <button>
                <a href="/login">
                    <img src="static/images/profile.png" alt="Profil">
                </a>
            </button>
            <div id="notificationPanel" class="notification-panel">
                <div class="notification-item">Yeni mesajınız var.</div>
                <div class="notification-item">Profilinizi güncellemeyi unutmayın.</div>
                <div class="notification-item">Sistem güncellemesi tamamlandı.</div>
            </div>
        </div>
    </div>

    <div class="cards-container">
        <div class="crypto-cards">
            {% for item in updated_crypto_prices %}
            <div class="crypto-card">
                <img src="{{ item['kripto_icon'] }}" alt="{{ item['kripto_adi'] }}">
                <h3>{{ item['kripto_adi'] }}</h3>
                <p>{{ item['kripto_kodu'] }}</p>
                <h2>{{ item['guncel_fiyat'] }} USD</h2>
                <p class="price-change positive">+0.25% (+$6.21)</p>
                <button class="favorite-button {% if item['kripto_adi'] in user_favorites %}favorited{% endif %}" 
                    data-name="{{ item['kripto_adi'] }}" 
                    data-type="crypto" 
                    onclick="toggleFavorite(this)">
                    <span class="star-icon"></span>
                </button>
                
                <button class="details-button" onclick="showDetails('{{ item['_id'] }}', 'crypto')">Daha fazlası</button>
            </div>
            {% endfor %}
        </div>
    
        <div class="currency-cards">
            {% for item in updated_currency_prices %}
            <div class="currency-card">
                <img src="{{ item['döviz_icon'] }}" alt="{{ item['döviz_adi'] }}">
                <h3>{{ item['döviz_adi'] }}</h3>
                <p>{{ item['döviz_kodu'] }}</p>
                <h2>{{ item['guncel_fiyat'] }} ₺</h2>
                <p class="price-change positive">+0.25% (+$6.21)</p>
                <button class="favorite-button {% if item['döviz_adi'] in user_favorites %}favorited{% endif %}" 
                    data-name="{{ item['döviz_adi'] }}" 
                    data-type="currency" 
                    onclick="toggleFavorite(this)">
                    <span class="star-icon"></span>
                </button>
                <button class="details-button" onclick="showDetails('{{ item['_id'] }}', 'currency')">Daha fazlası</button>           
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script>
    function showDetails(itemId, itemType) {
        window.location.href = `/details/${itemType}/${itemId}`;
    }
    </script>
    
    
    
    
      

    <script src="static/script.js"></script>
</body>
</html>
