<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoApex - Kayıt Ol</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body onload="clearInputs()">

    
    <div class="navbar">
        <h2><a href="/">CryptoApex</a></h2>
    </div>

    
    <div class="form-container">
        <h2>Kayıt Ol</h2>
        
        {% if message %}
        <script>
            alert("{{ message }}");
        </script>
        {% endif %}
        
        <form method="post">
            <label for="username">Kullanıcı Adı</label>
            <input type="text" name="username" placeholder="Kullanıcı adınızı girin" required>

            <label for="email">E-posta</label>
            <input type="email" name="email" placeholder="E-posta adresinizi girin" required>

            <label for="password">Şifre</label>
            <input type="password" name="password" placeholder="Şifrenizi girin" required>
            
            <button type="submit">Kayıt Ol</button>

           
            <p class="login-prompt">
                Zaten bir hesabın var mı? <a href="/login">Giriş yap!</a>
            </p>
        </form>
    </div>

    <script src="static/script.js" defer></script>
</body>
</html>
